{% extends "signature/base.html" %}
{% load static %}

{% block content %}
<script>
    $(document).ready(function() {
        $('#ajax').submit(function(e) {
            e.preventDefault();  // disables submit's default action
            var data = new FormData($('#ajax').get(0));
            console.log(data);

            $.ajax({
                url: '/upload/',
                type: 'POST',
                data: data,
                processData: false,
                contentType: 'multipart/form-data',
                success: function(data) {
                    data = JSON.parse(data); // converts string of json to object
                    $('#photo').html('<img src="{{'+data.image.url+ '}}" />');
                    // <h2>title</h2> You do not use 'title' in your project !!
                    // alt=title see previous comment
                }
            });
            return false;
        });
    });

</script>
<br><br>
<div class="container-fluid">

    <h2 class="text-center">Use this form to create your e-signature</h2>
<br><br>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 editor-tab">
            <nav>
                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                        aria-controls="nav-home" aria-selected="true">Details</a>
                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                        aria-controls="nav-profile" aria-selected="false">Social Media</a>
                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
                        aria-controls="nav-contact" aria-selected="false">Images</a>
                    <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab"
                        aria-controls="nav-about" aria-selected="false">Templates</a>
                </div>
            </nav>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <form method="post" id="ajax" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control" id="form_names" aria-describedby="names"
                                placeholder="Names">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="form_company" aria-describedby="company"
                                placeholder="Company">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="form_designation" aria-describedby="designation"
                                placeholder="Designation">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="form_department" aria-describedby="department"
                                placeholder="Department">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="form_phone" aria-describedby="phone"
                                placeholder="Phone">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="form_email" aria-describedby="email"
                                placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="form_website" aria-describedby="website"
                                placeholder="Website">
                        </div>
                    
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    
                        <div class="form-group">
                            <input type="text" id="form_linkedin" class="form-control" id="linkedin" aria-describedby="linkedin"
                                placeholder="https://linkedin.com/johnwick">
                        </div>
                        <div class="form-group">
                            <input type="text" id="form_twitter" class="form-control" id="twitter" aria-describedby="twitter"
                                placeholder="https://twitter.com/johnwick">
                        </div>
                        <div class="form-group">
                            <input type="text" id="form_facebook" class="form-control" id="facebook" aria-describedby="facebook"
                                placeholder="https://facebook.com/johnwick">
                        </div>
                        <div class="form-group">
                            <input type="text" id="form_instagram" class="form-control" id="instagram" aria-describedby="instagram"
                                placeholder="https://instagram.com/johnwick">
                        </div>
                        <div class="form-group">
                            <input type="text" id="form_github" class="form-control" id="github" aria-describedby="github"
                                placeholder="https://github.com/johnwick">
                        </div>
                        <div class="form-group">
                            <input type="text" id="form_youtube" class="form-control" id="youtube" aria-describedby="youtube"
                                placeholder="https://youtube.com/johnwick">
                        </div>
                        <div class="form-group">
                            <input type="text" id="form_whatsapp" class="form-control" id="whatsapp" aria-describedby="whatsapp"
                                placeholder="https://whatsapp.com/johnwick">
                        </div>
                    
                </div>
                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    
                        
                        <br>
                        <input type="file" name="img"/>
                        <br>
                        <br>
                        <button id="submit" type="submit">Upload</button>
                        <!-- {{form.image}} -->
                        <!-- <input type="submit" value="Upload" class="btn btn-primary"> -->
                        <h1> test </h1>
                        <div id="photo">
                            <img src="{{ photo.image.url }}">
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
                    <div class="paymentWrap">
                        <div class="btn-group paymentBtnGroup btn-group-justified" data-toggle="buttons">
                            <label class="btn paymentMethod active">
                                <div class="method visa"></div>
                                <input type="radio" name="template" onchange="oneworld(1)" checked>
                            </label>
                            <label class="btn paymentMethod">
                                <div class="method master-card"></div>
                                <input type="radio" name="template" onchange="oneworld(2)">
                            </label>
                            <label class="btn paymentMethod">
                                <div class="method amex"></div>
                                <input type="radio"  name="template" onchange="oneworld(3)">
                            </label>
                            <label class="btn paymentMethod">
                                <div class="method ez-cash"></div>
                                <input type="radio" name="template" onchange="oneworld(4)">
                            </label>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12" id="sample2">
            <table cellpadding="0" id="one" cellspacing="0" class="sc-gPEVay eQYmiW sample one tab-pane"
                style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                <tbody>
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW"
                                style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                <tbody>
                                    <tr>
                                        <td width="150" style="vertical-align: middle;"><span class="sc-kgAjT cuzzPp"
                                                style="margin-right: 20px; display: block;"><img
                                                    src="https://d36urhup7zbd7q.cloudfront.net/07018871-3bf0-473c-97fe-022fe1555691/dwight500x500.format_png.resize_200x.png#logo"
                                                    role="presentation" width="130" class="sc-cHGsZl bHiaRe"
                                                    style="max-width: 130px;border-radius: 50%;"></span></td>
                                        <td style="vertical-align: middle;">
                                            <h3 color="#000000" id="names"
                                                style="margin: 0px; font-size: 18px; color: rgb(0, 0, 0);">Josh Smith
                                            </h3>
                                            <p color="#000000" font-size="medium" class="sc-fMiknA bxZCMx"
                                                style="margin: 0px; color: rgb(0, 0, 0); font-size: 14px; line-height: 22px;">
                                                <span id="designation">Chief Technology Officer</span>
                                            </p>
                                            <p color="#000000" font-size="medium" class="sc-dVhcbM fghLuF"
                                                style="margin: 0px; font-weight: 500; color: rgb(0, 0, 0); font-size: 14px; line-height: 22px;">
                                                <span id="department">Information
                                                    Technology</span><span>&nbsp;|&nbsp;</span><span
                                                    id="company">StepWise</span>
                                            </p>
                                        </td>
                                        <td width="30">
                                            <div style="width: 30px;"></div>
                                        </td>
                                        <td color="#ff7f00" direction="vertical" width="1" class="sc-jhAzac hmXDXQ"
                                            style="width: 1px; border-bottom: none; border-left: 1px solid rgb(255, 127, 0);">
                                        </td>
                                        <td width="30">
                                            <div style="width: 30px;"></div>
                                        </td>
                                        <td style="vertical-align: middle;">
                                            <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW"
                                                style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                                <tbody>
                                                    <tr height="25" style="vertical-align: middle;">
                                                        <td width="30" style="vertical-align: middle;">
                                                            <table cellpadding="0" cellspacing="0"
                                                                class="sc-gPEVay eQYmiW"
                                                                style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="vertical-align: bottom;"><span
                                                                                color="#ff7f00" width="11"
                                                                                class="sc-jlyJG bbyJzT"
                                                                                style="display: block; background-color: rgb(255, 127, 0);"><img
                                                                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/phone-icon-2x.png"
                                                                                    color="#ff7f00" width="13"
                                                                                    class="sc-iRbamj blSEcj"
                                                                                    style="display: block; background-color: rgb(255, 127, 0);"></span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td style="padding: 0px; color: rgb(0, 0, 0);"><a
                                                                href="tel:+254 712 456 789" color="#000000"
                                                                class="sc-gipzik iyhjGb"
                                                                style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;"><span
                                                                    id="phone">+254
                                                                    712 456 789</span></a></td>
                                                    </tr>
                                                    <tr height="25" style="vertical-align: middle;">
                                                        <td width="30" style="vertical-align: middle;">
                                                            <table cellpadding="0" cellspacing="0"
                                                                class="sc-gPEVay eQYmiW"
                                                                style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="vertical-align: bottom;"><span
                                                                                color="#ff7f00" width="11"
                                                                                class="sc-jlyJG bbyJzT"
                                                                                style="display: block; background-color: rgb(255, 127, 0);"><img
                                                                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/email-icon-2x.png"
                                                                                    color="#ff7f00" width="13"
                                                                                    class="sc-iRbamj blSEcj"
                                                                                    style="display: block; background-color: rgb(255, 127, 0);"></span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td style="padding: 0px;"><a href="mailto:josh@stepwise.net"
                                                                color="#000000" class="sc-gipzik iyhjGb"
                                                                style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;"><span
                                                                    id="email">josh@stepwise.net</span></a>
                                                        </td>
                                                    </tr>
                                                    <tr height="25" style="vertical-align: middle;">
                                                        <td width="30" style="vertical-align: middle;">
                                                            <table cellpadding="0" cellspacing="0"
                                                                class="sc-gPEVay eQYmiW"
                                                                style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                                                <tbody>
                                                                    <tr>
                                                                        <td style="vertical-align: bottom;"><span
                                                                                color="#ff7f00" width="11"
                                                                                class="sc-jlyJG bbyJzT"
                                                                                style="display: block; background-color: rgb(255, 127, 0);"><img
                                                                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/link-icon-2x.png"
                                                                                    color="#ff7f00" width="13"
                                                                                    class="sc-iRbamj blSEcj"
                                                                                    style="display: block; background-color: rgb(255, 127, 0);"></span>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                        <td style="padding: 0px;"><a href="//www.stepwise.net"
                                                                color="#000000" class="sc-gipzik iyhjGb"
                                                                style="text-decoration: none; color: rgb(0, 0, 0); font-size: 12px;"><span
                                                                    id="website">www.stepwise.net</span></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW"
                                style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial; width: 100%;">
                                <tbody>
                                    <tr>
                                        <td height="30"></td>
                                    </tr>
                                    <tr>
                                        <td color="#ff7f00" direction="horizontal" height="1" class="sc-jhAzac hmXDXQ"
                                            style="width: 100%; border-bottom: 1px solid rgb(255, 127, 0); border-left: none; display: block;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="30"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW"
                                style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial; width: 100%;">
                                <tbody>
                                    <tr>
                                        <td style="vertical-align: top;"><img
                                                src="https://drive.google.com/uc?id=1HJIOSoLSWunM_LRnxaV6rL5Bfj3tRutz"
                                                role="presentation" width="130" class="sc-cHGsZl bHiaRe"
                                                style="max-width: 130px; display: inline-block;"></td>
                                        <td style="text-align: right; vertical-align: top;">
                                            <table cellpadding="0" cellspacing="0" class="sc-gPEVay eQYmiW"
                                                style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial; display: inline-block;">
                                                <tbody>
                                                    <tr style="text-align: right;">
                                                        <td><a href="https://www.facebook.com/joshsmith" color="#6A78D1"
                                                                class="sc-hzDkRC kpsoyz"
                                                                style="display: inline-block; padding: 0px; background-color: rgb(106, 120, 209);"><img
                                                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/facebook-icon-2x.png"
                                                                    alt="facebook" color="#6A78D1" height="24"
                                                                    class="sc-bRBYWo ccSRck"
                                                                    style="background-color: rgb(106, 120, 209); max-width: 135px; display: block;"></a>
                                                        </td>
                                                        <td width="5">
                                                            <div></div>
                                                        </td>
                                                        <td><a href="https://www.twitter.com/joshsmith" color="#6A78D1"
                                                                class="sc-hzDkRC kpsoyz"
                                                                style="display: inline-block; padding: 0px; background-color: rgb(106, 120, 209);"><img
                                                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/twitter-icon-2x.png"
                                                                    alt="twitter" color="#6A78D1" height="24"
                                                                    class="sc-bRBYWo ccSRck"
                                                                    style="background-color: rgb(106, 120, 209); max-width: 135px; display: block;"></a>
                                                        </td>
                                                        <td width="5">
                                                            <div></div>
                                                        </td>
                                                        <td><a href="https://www.linkedin.com/josh-smith"
                                                                color="#6A78D1" class="sc-hzDkRC kpsoyz"
                                                                style="display: inline-block; padding: 0px; background-color: rgb(106, 120, 209);"><img
                                                                    src="https://cdn2.hubspot.net/hubfs/53/tools/email-signature-generator/icons/linkedin-icon-2x.png"
                                                                    alt="linkedin" color="#6A78D1" height="24"
                                                                    class="sc-bRBYWo ccSRck"
                                                                    style="background-color: rgb(106, 120, 209); max-width: 135px; display: block;"></a>
                                                        </td>
                                                        <td width="5">
                                                            <div></div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<center><button class="btn btn-primary samplecopybtn">Copy this signature</button></center>
<br><br>

{% endblock content %}